<!DOCTYPE html>
<html>

 <head>

  <meta charset="utf-8"/>
<title>Exported Data</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

  <link href="css/style.css" rel="stylesheet"/>

  <script src="js/script.js" type="text/javascript">

  </script>

 </head>

 <body onload="CheckLocation();">

  <div class="page_wrap">

   <div class="page_header">

    <div class="content">

     <div class="text bold">
Роднулькина 
     </div>

    </div>

   </div>

   <div class="page_body chat_page">

    <div class="history">

     <a class="pagination block_link" href="messages46.html">
Previous messages
     </a>

     <div class="message service" id="message-259">

      <div class="body details">
29 August 2024
      </div>

     </div>

     <div class="message default clearfix" id="message166370">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic7" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
Р
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:50:27 UTC+05:00">
17:50
       </div>

       <div class="from_name">
Роднулькина 
       </div>

       <div class="media_wrap clearfix">

        <a class="photo_wrap clearfix pull_left" href="photos/photo_190@29-08-2024_17-50-27.jpg">

         <img class="photo" src="photos/photo_190@29-08-2024_17-50-27_thumb.jpg" style="width: 260px; height: 222px"/>

        </a>

       </div>

       <div class="text">
мне уже не нравится
       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166371">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic5" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
L
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:50:47 UTC+05:00">
17:50
       </div>

       <div class="from_name">
Linkoln 
       </div>

       <div class="text">
Хпхпхахахах
       </div>

      </div>

     </div>

     <div class="message default clearfix joined" id="message166372">

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:50:51 UTC+05:00">
17:50
       </div>

       <div class="text">
Даже блять не знаю
       </div>

      </div>

     </div>

     <div class="message default clearfix joined" id="message166373">

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:51:09 UTC+05:00">
17:51
       </div>

       <div class="text">
Мда
       </div>

      </div>

     </div>

     <div class="message default clearfix joined" id="message166374">

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:51:15 UTC+05:00">
17:51
       </div>

       <div class="text">
Ну удачи роднулькина
       </div>

       <div class="reactions">

        <div class="reaction">

         <div class="emoji">
💔
         </div>

         <div class="userpics">

          <div class="userpic userpic10" style="width: 20px; height: 20px">

           <div class="initials" style="line-height: 20px" title="Роднулькина">
Р
           </div>

          </div>

         </div>

        </div>

       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166375">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic7" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
Р
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:51:18 UTC+05:00">
17:51
       </div>

       <div class="from_name">
Роднулькина 
       </div>

       <div class="text">
это полный пиздец
       </div>

      </div>

     </div>

     <div class="message default clearfix joined" id="message166376">

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:53:02 UTC+05:00">
17:53
       </div>

       <div class="text">
там реально все андеграунд
       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166377">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic5" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
L
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:53:21 UTC+05:00">
17:53
       </div>

       <div class="from_name">
Linkoln 
       </div>

       <div class="text">
Как понять андерграунд?
       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166378">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic7" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
Р
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:53:36 UTC+05:00">
17:53
       </div>

       <div class="from_name">
Роднулькина 
       </div>

       <div class="text">
ну
       </div>

      </div>

     </div>

     <div class="message default clearfix joined" id="message166379">

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:54:42 UTC+05:00">
17:54
       </div>

       <div class="text">
<a href="" onclick="return ShowHashtag(&quot;тяжелаяотлетика&quot;)">#тяжелаяотлетика</a> <a href="" onclick="return ShowHashtag(&quot;паутинаналокте&quot;)">#паутинаналокте</a> <a href="" onclick="return ShowHashtag(&quot;каспийскийгруз&quot;)">#каспийскийгруз</a> <a href="" onclick="return ShowHashtag(&quot;чбфотки&quot;)">#чбфотки</a> <a href="" onclick="return ShowHashtag(&quot;стрижканалысо&quot;)">#стрижканалысо</a>
       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166380">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic5" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
L
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:55:01 UTC+05:00">
17:55
       </div>

       <div class="from_name">
Linkoln 
       </div>

       <div class="text">
Понял
       </div>

      </div>

     </div>

     <div class="message default clearfix joined" id="message166381">

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:55:12 UTC+05:00">
17:55
       </div>

       <div class="text">
Для меня это немного другое, ну ладно
       </div>

      </div>

     </div>

     <div class="message default clearfix joined" id="message166382">

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:55:20 UTC+05:00">
17:55
       </div>

       <div class="text">
Ну и ладно
       </div>

      </div>

     </div>

     <div class="message default clearfix joined" id="message166383">

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:55:34 UTC+05:00">
17:55
       </div>

       <div class="text">
Они зачастую своими компаниями ходят
       </div>

      </div>

     </div>

     <div class="message default clearfix joined" id="message166384">

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:55:44 UTC+05:00">
17:55
       </div>

       <div class="text">
Можешь просто не обращать на них внимание
       </div>

      </div>

     </div>

     <div class="message default clearfix joined" id="message166385">

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:55:49 UTC+05:00">
17:55
       </div>

       <div class="text">
И всё нормально будет
       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166386">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic7" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
Р
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:55:58 UTC+05:00">
17:55
       </div>

       <div class="from_name">
Роднулькина 
       </div>

       <div class="text">
когда уже отчислиться можно
       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166387">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic5" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
L
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:56:09 UTC+05:00">
17:56
       </div>

       <div class="from_name">
Linkoln 
       </div>

       <div class="text">
Мда
       </div>

      </div>

     </div>

     <div class="message default clearfix joined" id="message166388">

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:56:20 UTC+05:00">
17:56
       </div>

       <div class="text">
Не появилось в 10 класс пойти?
       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166389">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic7" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
Р
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:56:39 UTC+05:00">
17:56
       </div>

       <div class="from_name">
Роднулькина 
       </div>

       <div class="text">
тогда потерплю
       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166390">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic5" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
L
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:57:08 UTC+05:00">
17:57
       </div>

       <div class="from_name">
Linkoln 
       </div>

       <div class="text">
Раз уже решила идти, то просто сделай всё что сможешь
       </div>

      </div>

     </div>

     <div class="message default clearfix joined" id="message166391">

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:57:30 UTC+05:00">
17:57
       </div>

       <div class="text">
Постарайся заработать оценок хороших и перевестись на ту специальность, на которую ты хочешь
       </div>

       <div class="reactions">

        <div class="reaction">

         <div class="emoji">
<a href = "video_files/sticker (635).webm">👋</a>
         </div>

         <div class="userpics">

          <div class="userpic userpic10" style="width: 20px; height: 20px">

           <div class="initials" style="line-height: 20px" title="Роднулькина">
Р
           </div>

          </div>

         </div>

        </div>

       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166392">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic7" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
Р
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:57:54 UTC+05:00">
17:57
       </div>

       <div class="from_name">
Роднулькина 
       </div>

       <div class="text">
так и планировала
       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166393">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic5" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
L
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:58:05 UTC+05:00">
17:58
       </div>

       <div class="from_name">
Linkoln 
       </div>

       <div class="text">
Учись и находи знакомства среди челиков, которые тебе помогут
       </div>

       <div class="reactions">

        <div class="reaction">

         <div class="emoji">
<a href = "video_files/sticker (635).webm">👋</a>
         </div>

         <div class="userpics">

          <div class="userpic userpic10" style="width: 20px; height: 20px">

           <div class="initials" style="line-height: 20px" title="Роднулькина">
Р
           </div>

          </div>

         </div>

        </div>

       </div>

      </div>

     </div>

     <div class="message default clearfix joined" id="message166394">

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:58:22 UTC+05:00">
17:58
       </div>

       <div class="text">
По поводу тусовок и т.д., я сказать ничего не могу
       </div>

      </div>

     </div>

     <div class="message default clearfix joined" id="message166395">

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:58:33 UTC+05:00">
17:58
       </div>

       <div class="text">
Я думаю лучше тебе на 1 курсе не тусить
       </div>

      </div>

     </div>

     <div class="message default clearfix joined" id="message166396">

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:58:38 UTC+05:00">
17:58
       </div>

       <div class="text">
Думай о учебе
       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166397">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic7" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
Р
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:58:41 UTC+05:00">
17:58
       </div>

       <div class="from_name">
Роднулькина 
       </div>

       <div class="reply_to details">
In reply to <a href="#go_to_message166394" onclick="return GoToMessage(166394)">this message</a>
       </div>

       <div class="text">
такое мне не надо
       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166398">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic5" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
L
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:59:01 UTC+05:00">
17:59
       </div>

       <div class="from_name">
Linkoln 
       </div>

       <div class="text">
Это самый тяжёлый курс считается
       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166399">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic7" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
Р
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:59:10 UTC+05:00">
17:59
       </div>

       <div class="from_name">
Роднулькина 
       </div>

       <div class="media_wrap clearfix">

        <a class="media clearfix pull_left block_link media_photo" href="video_files/sticker (92).webm">

         <div class="fill pull_left">

         </div>

         <div class="body">

          <div class="title bold">
Sticker
          </div>

          <div class="status details">
😵
          </div>

         </div>

        </a>

       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166400">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic5" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
L
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:59:17 UTC+05:00">
17:59
       </div>

       <div class="from_name">
Linkoln 
       </div>

       <div class="text">
Ну кроме 4
       </div>

      </div>

     </div>

     <div class="message default clearfix joined" id="message166401">

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:59:26 UTC+05:00">
17:59
       </div>

       <div class="text">
Но я не считаю что диплом тяжело написать
       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166402">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic7" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
Р
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 17:59:57 UTC+05:00">
17:59
       </div>

       <div class="from_name">
Роднулькина 
       </div>

       <div class="text">
какой кошмар
       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166403">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic5" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
L
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 18:00:39 UTC+05:00">
18:00
       </div>

       <div class="from_name">
Linkoln 
       </div>

       <div class="text">
Так же попробуй подружиться с преподами, если сдружишься тебе вероятно некоторые преподаватели будут сливать билеты
       </div>

       <div class="reactions">

        <div class="reaction">

         <div class="emoji">
<a href = "video_files/sticker (635).webm">👋</a>
         </div>

         <div class="userpics">

          <div class="userpic userpic10" style="width: 20px; height: 20px">

           <div class="initials" style="line-height: 20px" title="Роднулькина">
Р
           </div>

          </div>

         </div>

        </div>

       </div>

      </div>

     </div>

     <div class="message default clearfix joined" id="message166404">

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 18:00:52 UTC+05:00">
18:00
       </div>

       <div class="text">
Что даст тебе возможность подготовиться и всё спокойно сдать
       </div>

       <div class="reactions">

        <div class="reaction">

         <div class="emoji">
<a href = "video_files/sticker (635).webm">👋</a>
         </div>

         <div class="userpics">

          <div class="userpic userpic10" style="width: 20px; height: 20px">

           <div class="initials" style="line-height: 20px" title="Роднулькина">
Р
           </div>

          </div>

         </div>

        </div>

       </div>

      </div>

     </div>

     <div class="message default clearfix joined" id="message166405">

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 18:01:17 UTC+05:00">
18:01
       </div>

       <div class="text">
Не со всеми так получится, заранее говорю
       </div>

       <div class="reactions">

        <div class="reaction">

         <div class="emoji">
<a href = "video_files/sticker (635).webm">👋</a>
         </div>

         <div class="userpics">

          <div class="userpic userpic10" style="width: 20px; height: 20px">

           <div class="initials" style="line-height: 20px" title="Роднулькина">
Р
           </div>

          </div>

         </div>

        </div>

       </div>

      </div>

     </div>

     <div class="message default clearfix joined" id="message166406">

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 18:02:09 UTC+05:00">
18:02
       </div>

       <div class="text">
Всё подробнее расскажу наверное в живую, либо через гс
       </div>

      </div>

     </div>

     <div class="message default clearfix joined" id="message166407">

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 18:02:19 UTC+05:00">
18:02
       </div>

       <div class="text">
Поскольку много аспектов нужно учитывать
       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166408">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic7" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
Р
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 18:02:26 UTC+05:00">
18:02
       </div>

       <div class="from_name">
Роднулькина 
       </div>

       <div class="text">
хорошо, спасибо!!
       </div>

      </div>

     </div>

     <div class="message default clearfix joined" id="message166409">

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 18:02:38 UTC+05:00">
18:02
       </div>

       <div class="media_wrap clearfix">

        <a class="sticker_wrap clearfix pull_left" href="stickers/sticker (266).webp">

         <img class="sticker" src="stickers/sticker (266)_thumb (1).webp" style="width: 192px; height: 160px"/>

        </a>

       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166457">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic5" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
L
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 22:42:45 UTC+05:00">
22:42
       </div>

       <div class="from_name">
Linkoln 
       </div>

       <div class="media_wrap clearfix">

        <a class="media clearfix pull_left block_link media_voice_message" href="voice_messages/audio_2331@29-08-2024_22-42-45.ogg">

         <div class="fill pull_left">

         </div>

         <div class="body">

          <div class="title bold">
Voice message
          </div>

          <div class="status details">
00:34
          </div>

         </div>

        </a>

       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166458">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic7" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
Р
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 22:44:18 UTC+05:00">
22:44
       </div>

       <div class="from_name">
Роднулькина 
       </div>

       <div class="text">
ЧТО БЛЯТЬ ХАХАХАХХАХАХ
       </div>

      </div>

     </div>

     <div class="message default clearfix joined" id="message166459">

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 22:45:42 UTC+05:00">
22:45
       </div>

       <div class="text">
я её боюсь
       </div>

      </div>

     </div>

     <div class="message default clearfix joined" id="message166460">

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 22:47:26 UTC+05:00">
22:47
       </div>

       <div class="text">
а она преподает мб что то?
       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166461">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic5" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
L
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 22:47:32 UTC+05:00">
22:47
       </div>

       <div class="from_name">
Linkoln 
       </div>

       <div class="media_wrap clearfix">

        <a class="media clearfix pull_left block_link media_voice_message" href="voice_messages/audio_2332@29-08-2024_22-47-32.ogg">

         <div class="fill pull_left">

         </div>

         <div class="body">

          <div class="title bold">
Voice message
          </div>

          <div class="status details">
00:39
          </div>

         </div>

        </a>

       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166462">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic7" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
Р
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 22:47:59 UTC+05:00">
22:47
       </div>

       <div class="from_name">
Роднулькина 
       </div>

       <div class="text">
ХАХАХХАХА ОНА СЕГОДНЯ ПРО ЭТО ГОВОРИЛА
       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166463">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic5" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
L
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 22:48:00 UTC+05:00">
22:48
       </div>

       <div class="from_name">
Linkoln 
       </div>

       <div class="reply_to details">
In reply to <a href="#go_to_message166460" onclick="return GoToMessage(166460)">this message</a>
       </div>

       <div class="media_wrap clearfix">

        <a class="media clearfix pull_left block_link media_voice_message" href="voice_messages/audio_2333@29-08-2024_22-48-00.ogg">

         <div class="fill pull_left">

         </div>

         <div class="body">

          <div class="title bold">
Voice message
          </div>

          <div class="status details">
00:18
          </div>

         </div>

        </a>

       </div>

      </div>

     </div>

     <div class="message default clearfix joined" id="message166464">

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 22:48:39 UTC+05:00">
22:48
       </div>

       <div class="media_wrap clearfix">

        <a class="media clearfix pull_left block_link media_voice_message" href="voice_messages/audio_2334@29-08-2024_22-48-39.ogg">

         <div class="fill pull_left">

         </div>

         <div class="body">

          <div class="title bold">
Voice message
          </div>

          <div class="status details">
00:30
          </div>

         </div>

        </a>

       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166465">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic7" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
Р
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 22:49:07 UTC+05:00">
22:49
       </div>

       <div class="from_name">
Роднулькина 
       </div>

       <div class="text">
ЧТО ЗА УЖАС
       </div>

      </div>

     </div>

     <div class="message default clearfix joined" id="message166466">

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 22:49:56 UTC+05:00">
22:49
       </div>

       <div class="text">
куда я попала блять
       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166467">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic5" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
L
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 22:50:28 UTC+05:00">
22:50
       </div>

       <div class="from_name">
Linkoln 
       </div>

       <div class="media_wrap clearfix">

        <a class="media clearfix pull_left block_link media_voice_message" href="voice_messages/audio_2335@29-08-2024_22-50-28.ogg">

         <div class="fill pull_left">

         </div>

         <div class="body">

          <div class="title bold">
Voice message
          </div>

          <div class="status details">
00:23
          </div>

         </div>

        </a>

       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166468">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic7" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
Р
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 22:51:29 UTC+05:00">
22:51
       </div>

       <div class="from_name">
Роднулькина 
       </div>

       <div class="text">
он на мартышку похож
       </div>

      </div>

     </div>

     <div class="message default clearfix joined" id="message166469">

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 22:51:37 UTC+05:00">
22:51
       </div>

       <div class="text">
я таких боюсь
       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166470">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic5" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
L
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 22:52:06 UTC+05:00">
22:52
       </div>

       <div class="from_name">
Linkoln 
       </div>

       <div class="media_wrap clearfix">

        <a class="media clearfix pull_left block_link media_voice_message" href="voice_messages/audio_2336@29-08-2024_22-52-06.ogg">

         <div class="fill pull_left">

         </div>

         <div class="body">

          <div class="title bold">
Voice message
          </div>

          <div class="status details">
00:18
          </div>

         </div>

        </a>

       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166471">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic7" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
Р
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 22:53:11 UTC+05:00">
22:53
       </div>

       <div class="from_name">
Роднулькина 
       </div>

       <div class="text">
на собрании говорили что возможно меняться будут
       </div>

      </div>

     </div>

     <div class="message default clearfix joined" id="message166472">

      <div class="body">

       <div class="pull_right date details" title="29.08.2024 22:53:22 UTC+05:00">
22:53
       </div>

       <div class="text">
за расписанием следить нада
       </div>

      </div>

     </div>

     <div class="message service" id="message-260">

      <div class="body details">
30 August 2024
      </div>

     </div>

     <div class="message default clearfix" id="message166494">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic5" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
L
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="30.08.2024 15:35:25 UTC+05:00">
15:35
       </div>

       <div class="from_name">
Linkoln 
       </div>

       <div class="text">
...
       </div>

      </div>

     </div>

     <div class="message default clearfix joined" id="message166495">

      <div class="body">

       <div class="pull_right date details" title="30.08.2024 15:35:58 UTC+05:00">
15:35
       </div>

       <div class="media_wrap clearfix">

        <a class="animated_wrap clearfix pull_left" href="video_files/animation (54).gif.mp4">

         <div class="video_play_bg">

          <div class="gif_play">
GIF
          </div>

         </div>

         <img class="animated" src="video_files/animation (54).gif.mp4_thumb.jpg" style="width: 83px; height: 105px"/>

        </a>

       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166496">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic7" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
Р
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="30.08.2024 15:36:09 UTC+05:00">
15:36
       </div>

       <div class="from_name">
Роднулькина 
       </div>

       <div class="text">
нет
       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166497">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic5" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
L
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="30.08.2024 15:36:18 UTC+05:00">
15:36
       </div>

       <div class="from_name">
Linkoln 
       </div>

       <div class="reply_to details">
In reply to <a href="#go_to_message166495" onclick="return GoToMessage(166495)">this message</a>
       </div>

       <div class="text">
Это твой муж?
       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166498">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic7" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
Р
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="30.08.2024 15:36:38 UTC+05:00">
15:36
       </div>

       <div class="from_name">
Роднулькина 
       </div>

       <div class="text">
слишком маленький
       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166499">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic5" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
L
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="30.08.2024 15:36:46 UTC+05:00">
15:36
       </div>

       <div class="from_name">
Linkoln 
       </div>

       <div class="text">
Кто бы говорил
       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166500">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic7" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
Р
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="30.08.2024 15:37:01 UTC+05:00">
15:37
       </div>

       <div class="from_name">
Роднулькина 
       </div>

       <div class="media_wrap clearfix">

        <a class="animated_wrap clearfix pull_left" href="video_files/video_493@30-08-2024_15-37-01.mp4">

         <div class="video_play_bg">

          <div class="gif_play">
GIF
          </div>

         </div>

         <img class="animated" src="video_files/video_493@30-08-2024_15-37-01.mp4_thumb.jpg" style="width: 190px; height: 260px"/>

        </a>

       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166501">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic5" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
L
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="30.08.2024 16:13:14 UTC+05:00">
16:13
       </div>

       <div class="from_name">
Linkoln 
       </div>

       <div class="text">
Как дела у тебя?
       </div>

      </div>

     </div>

     <div class="message default clearfix joined" id="message166502">

      <div class="body">

       <div class="pull_right date details" title="30.08.2024 16:13:23 UTC+05:00">
16:13
       </div>

       <div class="text">
Чем занимаешься?
       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166503">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic7" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
Р
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="30.08.2024 16:33:21 UTC+05:00">
16:33
       </div>

       <div class="from_name">
Роднулькина 
       </div>

       <div class="reply_to details">
In reply to <a href="#go_to_message166501" onclick="return GoToMessage(166501)">this message</a>
       </div>

       <div class="text">
всё хорошо
       </div>

      </div>

     </div>

     <div class="message default clearfix joined" id="message166504">

      <div class="body">

       <div class="pull_right date details" title="30.08.2024 16:33:50 UTC+05:00">
16:33
       </div>

       <div class="reply_to details">
In reply to <a href="#go_to_message166502" onclick="return GoToMessage(166502)">this message</a>
       </div>

       <div class="text">
да сижу боюсь немного
       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166505">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic5" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
L
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="30.08.2024 16:40:24 UTC+05:00">
16:40
       </div>

       <div class="from_name">
Linkoln 
       </div>

       <div class="text">
УПК?
       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166506">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic7" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
Р
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="30.08.2024 16:40:33 UTC+05:00">
16:40
       </div>

       <div class="from_name">
Роднулькина 
       </div>

       <div class="text">
да..
       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166507">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic5" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
L
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="30.08.2024 16:40:34 UTC+05:00">
16:40
       </div>

       <div class="from_name">
Linkoln 
       </div>

       <div class="text">
Это после наших рассказов?
       </div>

      </div>

     </div>

     <div class="message default clearfix" id="message166508">

      <div class="pull_left userpic_wrap">

       <div class="userpic userpic7" style="width: 42px; height: 42px">

        <div class="initials" style="line-height: 42px">
Р
        </div>

       </div>

      </div>

      <div class="body">

       <div class="pull_right date details" title="30.08.2024 16:42:54 UTC+05:00">
16:42
       </div>

       <div class="from_name">
Роднулькина 
       </div>

       <div class="text">
авхахвха да не только
       </div>

      </div>

     </div>

    </div>

   </div>

  </div>

 </body>

</html>
